* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
:root {
    --primary-color: #FFF;
    --secondary-color: #88e29e;
    --tertiary-color: #196F32;
  }

body{
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
    color: var(--tertiary-color);
    background-color: var(--primary-color);

}
header {
    padding: 15px 6% 15px 0;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    position: sticky;
    margin:1;
}

header h1 {
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    padding: 5px 1% 5px 1%;
    margin: 0;
    font-size: 3.5vw;
    line-height: 1;
}

header a:hover{
    color:var(--primary-color);
}


nav{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

nav a{
    font-size:2rem;
    padding: 10px 15px;
    color: var(--primary-color);
    font-style:normal;
    text-decoration: none;
}
nav a:hover{
    color:var(--secondary-color);
}
.hero{
    background:var(--tertiary-color);
    background:url("../images/banner.jpg");
    opacity:.8;
    min-height: 20vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 2% 6%
}
.hero img{
    width: 200px;
    margin: 20px;
    border-radius:20%;
    align-items: center;
}
.hero div {
    flex: 0 0 90%;
}

.hero div h2{
    color: var(--primary-color);
    justify-content: right;
}

/* content */

.content{
    max-width: 80%;
    margin-left:auto;
    margin-right: auto;

}

.about-section{
    display:flex;
    margin-left:auto;
    margin-right: auto;
    font-size: 1.25rem;
    padding: 2%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;

}

.container{
    display: grid;
    row-gap:15px;
    column-gap:15px;
    grid-auto-flow: column;
    grid-template-columns: repeat(12,1);
    grid-auto-rows: minmax(150px,1);
}

.grid-item{
    border: 5px solid var(--tertiary-color);
    grid-column: span 4;
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 200px;
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
    background-size: 150%;
    font-size: 0.8rem;
}

.grid-item:first-child {
    grid-column:span 5;
    grid-row: span 5;
}

.grid-item:hover{
    transition: opacity .5s ease-in-out;
    opacity:0.8;
}

.grid-item h3{
    font-size: 1.7rem;
}
.grid-item div{
    background-color: var(--secondary-color);
    padding: 10px 10px;
}

.horiseon {
    background-image: url("../images/horiseon.jpg");
}

.runbuddy {
    background-image: url("../images/runbuddy.PNG");
}

.work-section{
    font-size: 1.25rem;
}

.contact-section address{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-around;
}

.contact-section address a {
    color: var(--tertiary-color);
    padding: 10px;
    font-size: 1rem;
    font-style: normal;
    display: inline-block;
}
.contact-section address a:hover{
    color:var(--secondary-color);
}

footer{
    text-align: center;
    vertical-align: bottom;
    padding: 2%;
}